
/* start chat */
#box-chat{
	width: 350px;
    border-radius: 10px;
    bottom: 90px;
    z-index: 2;
    position: fixed;
    right: 15px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    background-image: url(../img/bg-wallpaper-whatsapp.png);
    display: none;
}
.box-chat-header{
	padding: 15px 0px;
    background-color: rgb(9, 94, 84);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box-chat-header div.bg-perfil-image{
	background-image: url(../img/chat.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0px 15px;
    background-position: center;
}
.box-chat-header div.bg-perfil-image div.bullet-state{
	width: 10px;
    height: 10px;
    background-color: rgb(79, 206, 93);
    border-radius: 50%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.box-chat-header div.perfil-state{
	display: inline-block;
}
.box-chat-header div.perfil-state p{
	font-size: 14px;
    color: white;
    margin-bottom: 0;
    position: absolute;
    top: 20px;
    line-height: 22px;
    font-weight: 500;
}
.box-chat-header div.perfil-state p span{
	font-size: 16px;
	font-weight: 600;
}
.box-chat-message{
    padding: 20px;
    border-radius: 10px;
    margin: 20px 15px;
    font-size: 14px;
    background-color: white;
    width: 70%;
    font-weight: 500;
    color: black;
}
.box-chat-message p{
	color: #ababab !important;
}
.box-chat-btn{
	background-color: white;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box-chat-btn button{
	background-color: rgb(79, 206, 93);
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 14px;
    border: 1px solid transparent;
    width: 100%;
    font-size: 16px;
}
.box-chat-btn button:hover{
	opacity: .7;
	transition: .3s;
}
.box-chat-btn button:active{
	opacity: .45;
	transition: .3s;
}
#btn-chat{
	width: 60px;
    height: 60px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    border-radius: 50%;
    background-color: rgb(79, 206, 93);
    right: 15px;
    bottom: 15px;
    z-index: 2;
    position: fixed;
    text-align: center;
    padding-top: 9px;
}
#btn-chat:hover{
	cursor: pointer;
}
#btn-chat i{
	font-size: 40px;
	color: #ffffff;
}
@media (max-width: 400px) {
    #box-chat{
        width: 92% !important;
    }
}
/* end chat */
